/*---------------------------------------------fonts--------------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
    color: #7a7a7a; ;
}

p{
    font-size: 0.9rem;
    font-weight: 400;
}

h1{
    font-size: 2rem;
}

.info-screen h2{
    font-size: 1rem;
}

a.href {
    color: #7a7a7a;
    text-decoration: underline;
}

/*--------------------------------------------------colors--------------------------------------*/

.red-bg{
    background-color: rgba(255, 0, 0, 0.1);
}

.red-shadow{
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.1), inset 4px 4px 8px rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.green-bg{
    background-color: rgba(0, 255, 56, 0.1);
}

.green-shadow{
    box-shadow: 8px 8px 8px rgba(0, 255, 56, 0.1), inset 4px 4px 8px rgba(0, 255, 56, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.yellow-bg{
    background-color: rgba(255, 255, 0, 0.1);
}

.yellow-shadow{
    box-shadow: 8px 8px 8px rgba(255, 245, 0, 0.1), inset 4px 4px 8px rgba(255, 245, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/*------------------------------------------------header--------------------------------------*/

.logo {
    display: flex;
    margin-right: 20px;
}

.logo-bar{
    width: 10px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-right: 3px;  
}

a.navbar-brand.light-grey{
    color: #949494;
    font-size: 45px;
}

div#navbarNav {
    font-size: 24px;
    font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #949494;
    text-decoration: underline;
}

/*------------------------------------------home content--------------------------------------*/

.info-screen{
    height: auto;
}

.info-screen h1{
    text-align: center;
    margin: 20px;
}

.kanban-image{
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.outer-card.home{
    min-height: 1100px;
}

.outer-card.yellow-bg.home{
    padding: 5%;
    margin-bottom: 2rem;
}

/*---------------------------------------------menu items--------------------------------------*/

.menu-item{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: rgba(255, 245, 0, 0.1);
    margin-bottom: 10px;
    padding: 3px;
}

.menu-item p, .menu-item i{
    margin: auto 3px;
}

/*---------------------------------------------E-mail Form--------------------------------------*/

.feature-title{
    text-align: center;
    margin: 1rem 0rem;
}

.email-form input, .email-form textarea{
    margin-bottom: 1rem;
}

button.btn.btn-outline-secondary.green-bg{
   display: flex;
   margin: auto;
   color: #7a7a7a;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

button.btn.btn-outline-secondary.green-bg:hover{
   display: flex;
   margin: auto;
   background-color: rgba(0, 255, 56, 0.25);
   color: #7a7a7a;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 50vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: larger;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content p{
    margin-bottom: 0px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/*------------------------------------------settings content--------------------------------------*/

.outer-card.settings{
    min-height: 480px;
    margin-bottom: 20px;
}

.settings h1{
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
}

.settings.menu-item {
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.settings.menu-item p{
    font-size: 1rem;
}

.fa-toggle-off,.fa-toggle-on{
    font-size: 2rem;
}
/*-------------------------------------------media queries--------------------------------------*/

@media (max-width:768px){
    .logo{
        margin-right: 0px;
    }
    a.navbar-brand.light-grey{
        font-size: 35px;
    }
    h1{
    font-size: 1.5rem;
    }
}